<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Error.css" />
    <title>sorry ;(</title>
</head>
<body>
    <div class="error">
        <h1>
            Désolé, mais ton artiste n'est pas encore dans notre super site web !
        </h1>
        <a href="/"><button class="retour">Retour</button></a>
    </div>
</body>
</html>